body {
    display: flex;
}

.container {
    display: flex;
    width: 1440px;
    height: 900px;

}

.image-register img {
    display: flex;
    width: 720px;
    height: 900px;

    margin-left: 120px;
}

.box-elements {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 481px;
    height: 433px;
    margin-top: 240px;
    margin-left: 119px;
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

input {
    display: flex;

    width: 476px;
    height: 51px;
    margin: 16px;
    background-color: #E8E8E8;
    border: 1px solid black;

}

.btn-register {
    display: flex;

    width: 478px;
    height: 50px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    background-color: #04C45C;
    color: #FFFFFF;
    border-radius: 10px
}

.btn-cancel {
    display: flex;

    width: 478px;
    height: 50px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    background-color: #FB0615;
    color: #FFFFFF;
    border-radius: 10px;
}

.register {
    display: flex;
    font-size: 16px;
}